html, body {
  width: 100%;
  height: 100%;
}

.is-full-height {
  height: 100%;
}

.is-broken {
  word-break: break-all;
}

#jsonEditor {
  width: 100%;
  height:100%;
}

/* fixes for json editor auto complete */
.jsoneditor .autocomplete.dropdown {
  display: list-item!important;
}
.jsoneditor .autocomplete.dropdown .item {
  margin: 2px!important;
}